*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #333;
  background-color: #fefefe;
}

a {
  color: #333;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.pull-left {
  float: left;
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}
.graph {
  margin: 0;
  color: #999;
  text-align: center;
  background-color: #f4f4f4;
}

.pies > div {
  float: left;
}
.pies .total {
  margin: 0;
  font-size: 14px;
  text-align: center;
}
.pie {
  min-width: 150px;
  height: 150px;
}

.project {
  margin: 0 10px 20px;
}
.project-meta {
  margin-bottom: 30px;
}
.project-history .graph {
  height: 170px;
  width: 400px;
}

.users {
  margin: 0 auto;
  margin-top: 30px;
}

.users > .current {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHUlEQVQYV2NkIBIwEqmOYVQh3pBifPfu3X9iwhIAnAoD1GrH1gwAAAAASUVORK5CYII=) repeat;
  background-position: left bottom;
}
.users > .backlog {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHUlEQVQYV2N89+7dfwYiACMRasBKRhXiDSmigwcAER0D1Iy2o4cAAAAASUVORK5CYII=) repeat;
  background-position: left top;
}

.backlog .user {
  vertical-align: top;
}

.user {
  display: inline-block;
  /*margin-left: -4px;*/
  width: 30px;
  margin: 0 4px;
  text-align: center;
  vertical-align: bottom;
}

.user-names:before,
.user-names:after {
  position: relative;
  top: -81px;
  display: block;
  height: 0;
  padding-left: 4px;
  font-size: 11px;
  font-weight: 300;
  color: #ccc;
  content: "8pt";
  border-top: 1px dashed #ccc;
}
.user-names:after {
  top: 80px;
}
.user-names {
  /*border-top: 1px solid #ccc;*/
  /*border-bottom: 1px solid #ccc;*/
}
.user-meta {
  padding: 10px 0;
  font-size: 12px;
}

.hoge {
  width: 60px;
  margin: 4px 0;
  font-size: 12px;
  font-weight: 300;
  color: #999;
}

/* TASK */
.task {
  position: relative;
  width: 100%;
  height: 10px;
  border-top: 1px solid #fff;
}

.backlog .task {
  border-top: 0;
  border-bottom: 1px solid #fff;
}

/*.task.accepted {
  opacity: .25;
}
*/
.task.bug {
  background-color: rgba(234, 94, 71, 1); /* #ea5e47 */
}
.task.bug.accepted {
  background-color: rgba(234, 94, 71, .25);
}
.task.chore {
  background-color: rgba(77, 72, 67, 1); /* #4d4843 */
}
.task.chore.accepted {
  background-color: rgba(77, 72, 67, .25);
}
.task.feature {
  background-color: rgba(28, 173, 126, 1); /* #1cad7e */
}
.task.feature.accepted {
  background-color: rgba(28, 173, 126, .25);
}
.task.finished:before,
.task.delivered:before {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQAPv3r1LY0QWAwkICQnNggvCBECKwILIAmBBdAGQIADJVRM2N6BPSwAAAABJRU5ErkJggg==) repeat;
}
.task.chore .tooltip .estimate,
.task.bug .tooltip .estimate {
  display: none;
}

/* TOOLTIP */
.task:hover .tooltip {
  display: block;
}
.tooltip {
  position: absolute;
  top: -6px;
  left: 26px;
  z-index: 100;
  display: none;
  width: 300px;
  max-height: 400px;
  padding: 6px;
  overflow-y: scroll;
  font-size: 13px;
  text-align: left;
  word-break: break-word;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}
.tooltip a {
  display: block;
  margin-bottom: 6px;
  text-decoration: underline;
}
.tooltip p {
  padding: 0 0 2px 0;
  margin: 0;
}
.tooltip img {
  width: 100%;
  height: auto;
}
